<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="output" default="screen"/>

  <arg name="vocab_path" default="$(env HOME)/Repos/ORB_SLAM3/Vocabulary/ORBvoc.txt"/>
  <arg name="settings_path" default="$(find orbslam3_ros)/config/titan_wide3.yaml"/>
  <arg name="show_viz" default="False"/>

  <node pkg="orbslam3_ros" type="orbslam3_ros_node" name="orbslam3_ros_node" output="$(arg output)">
    <param name="vocab_path" value="$(arg vocab_path)"/>
    <param name="settings_path" value="$(arg settings_path)"/>
    <param name="show_viz" value="$(arg show_viz)"/>

    <remap from="~image" to="/ovc/rgb/image_color"/>
  </node>
</launch>
